/*
*$info
* Copyright (c) Powa Technologies 2014
*/
/*
*$fonts
*/
@font-face {
	font-family: 'latohairline';
	src: url('../fonts/lato-hairline-webfont.eot');
	src: url('../fonts/lato-hairline-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/lato-hairline-webfont.woff') format('woff'),  url('../fonts/lato-hairline-webfont.ttf') format('truetype'),  url('../fonts/lato-hairline-webfont.svg#latohairline') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'latolight';
	src: url('../fonts/lato-light-webfont.eot');
	src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/lato-light-webfont.woff') format('woff'),  url('../fonts/lato-light-webfont.ttf') format('truetype'),  url('../fonts/lato-light-webfont.svg#latolight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'latoregular';
	src: url('../fonts/lato-regular-webfont.eot');
	src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/lato-regular-webfont.woff') format('woff'),  url('../fonts/lato-regular-webfont.ttf') format('truetype'),  url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'latobold';
	src: url('../fonts/lato-bold-webfont.eot');
	src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/lato-bold-webfont.woff') format('woff'),  url('../fonts/lato-bold-webfont.ttf') format('truetype'),  url('../fonts/lato-bold-webfont.svg#latobold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'cabin-regular';
	src: url('../fonts/Cabin-Regular.eot');
	src: url('../fonts/Cabin-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Cabin-Regular.woff') format('woff'),  url('../fonts/Cabin-Regular.ttf') format('truetype'),  url('../fonts/Cabin-Regular.svg#latohairline') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*
*$base
*/
/*@elements*/
html, body {
	height: 100%;
	font-family: 'latolight', arial, sans-serif;
	color: #545454;
	font-weight: 300;
    font-size: 1em;
}
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}
h1 {
	font-size: 34px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 16px;
}
h4{
	font-size: 18px;
}
h5 {
	font-size: 22px;
}
h6 {
	font-size: 12px;
}
p {
	font-size: 14px;
	line-height: 1;
}
a {
	color: #63BEF2;
}
a:hover {
	text-decoration: none;
}
b {
	font-family: 'latobold';
}
ul,
li {
	margin: 0;
	padding: 0;
}
li {
	float: left;
	list-style: none;
}
button {
	border: none;
	border-radius: 5px;
	padding: 8px 10px;
}
	.button:hover {
		color: #fff;
	}
	.button-dark {
		border: none;
		text-transform: uppercase;
		border-radius: 5px;
		padding: 8px 10px;
		background: #6a7382;
		color: #fff;
			-webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.5);
			-moz-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.5);
		box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.5);
		display: inline-block;
		float: left;
	}
strong {
	font-family: "latoregular";
}
hr {
	margin: 0;
}
input[type=text] {
	-webkit-appearance: none;
}
/*@shared*/
.owl-carousel .owl-item {
	-webkit-backface-visibility: visible;
}
.owl-nav {
    position: absolute;
    top: 40%;
}
	.owl-nav .fa {
	    font-size: 65px;
		color: #999;
	}
	.owl-prev {
	    position: absolute;
	    top: 40%;
	    left: 15px;
	}
	.owl-next {
	    position: absolute;
	    top: 40%;
	    right: 15px;
	}
.owl-dots {
	position: absolute;
	bottom: 15px;
	left: 50%;
	margin-left: -27px;
}
	.owl-dot {
		background: #ccc;
		display: inline-block;
		width: 10px;
		height: 10px;
		margin: 0 4px;
		text-indent: -999em;
		border-radius: 6px;
		cursor: pointer;
		-webkit-transition: background .5s, opacity .5s;
		-moz-transition: background .5s, opacity .5s;
		-o-transition: background .5s, opacity .5s;
		transition: background .5s, opacity .5s;
	}
		.owl-dot.active {
			background: #70C0F2;
		}

.box-hasline {
	border-top: 1px solid #eee;
	line-height: 0;
}
.icon-shopping-basket {
	width: 15px;
	height: 15px;
	vertical-align: top;
}
.icon-mobile-nav {
	width: 22px;
	height: 22px;
	vertical-align: baseline;
}
.image-hidden {
	opacity: 0;
}
/*
*$index
*/
/*@header*/
.demo-notice {
	background: #B33A3A;
	padding: 8px 15px 0;
	text-align: center;
	display: none;
}
	.demo-notice p {
		width: 80%;
		color: #fff;
		text-transform: uppercase;
		font-family: 'latobold';
		display: inline-block;
	}
	.demo-notice a {
		float: right;
		color: #fff;
		opacity: 1;
			-webkit-transition-duration: 0.8s;
	    	-moz-transition-duration: 0.8s;
	    	-o-transition-duration: 0.8s;
	    transition-duration: 0.8s;     
		    -webkit-transition-property: -webkit-transform;
		    -moz-transition-property: -moz-transform;
		    -o-transition-property: -o-transform;
	    transition-property: transform;
	}
		.demo-notice a:hover {
			opacity: 0.5;
			-webkit-transform:rotate(360deg);
		    -moz-transform:rotate(360deg);
		    -o-transform:rotate(360deg);
		}
/*@quick-cart*/
.quickCartSection,
.logo-search-section {
	margin-bottom: 20px;
}
	.quickCartSection .quick-cart-header,
	.searchSection .search-section {
		float: right;
	}
		.quickCartSection .quick-cart-header ul {
			padding: 6px 15px;
			background: #89d3fb;
				background: -moz-linear-gradient(top,  #89d3fb 0%, #1e5799 0%, #89d3fb 0%, #5bade1 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#89d3fb), color-stop(0%,#1e5799), color-stop(0%,#89d3fb), color-stop(100%,#5bade1));
				background: -webkit-linear-gradient(top,  #89d3fb 0%,#1e5799 0%,#89d3fb 0%,#5bade1 100%);
				background: -o-linear-gradient(top,  #89d3fb 0%,#1e5799 0%,#89d3fb 0%,#5bade1 100%);
				background: -ms-linear-gradient(top,  #89d3fb 0%,#1e5799 0%,#89d3fb 0%,#5bade1 100%);
				background: linear-gradient(to bottom,  #89d3fb 0%,#1e5799 0%,#89d3fb 0%,#5bade1 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89d3fb', endColorstr='#5bade1',GradientType=0 );
			border-radius: 0px 0px 5px 5px;
			float: right;
		}
		.quickCartSection .quick-cart-header li {
			color: #fff;
			text-transform: uppercase;
			padding: 0px 3px;
			font-size: 12px;
		}
			.quickCartSection .quick-cart-header .fa {
				font-size: 16px;
			}
			.quickCartSection .quick-cart-header a {
				color: #fff;
			}
.logo-search-section img {
	max-width: 100%;
}
/*@search*/
.searchSection .search-section .textInput {
	width: 88%;
	float: left;
	padding: 8px;
	border-radius: 5px 0px 0px 5px;
	border: 1px solid #ccc;
	border-right: none;
	background: #fff;
}
	.searchSection .search-section .textInput::-webkit-input-placeholder {
	   font-style: italic;
	}
	.searchSection .search-section .textInput:-moz-placeholder {
	   font-style: italic;
	}
	.searchSection .search-section .textInput::-moz-placeholder { 
	   font-style: italic; 
	}
	.searchSection .search-section .textInput:-ms-input-placeholder {  
	   font-style: italic;
	}
.searchSection .search-section button {
	background: #fff;
	border: 1px solid #ccc;
	border-left: none;
	border-radius: 0px 5px 5px 0px;
	color: #bbb;
	padding: 8px;
}
	.searchSection .search-section button .fa {
		font-size: 19px;
	}
/*@top-nav*/
.top-nav .top-nav-set .nav-item {
	padding: 6px 22px;
	background: #6d7582;
	border-radius: 20px 10px 0px 0px;
}
	.top-nav .top-nav-set .nav-item:hover,
	.top-nav .top-nav-set .nav-item:focus,
	.nav .nav-set li.active {
		background: #96d2f4;
			background: -moz-linear-gradient(top,  #96d2f4 0%, #6ac5f4 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96d2f4), color-stop(100%,#6ac5f4));
			background: -webkit-linear-gradient(top,  #96d2f4 0%,#6ac5f4 100%);
			background: -o-linear-gradient(top,  #96d2f4 0%,#6ac5f4 100%);
			background: -ms-linear-gradient(top,  #96d2f4 0%,#6ac5f4 100%);
			background: linear-gradient(to bottom,  #96d2f4 0%,#6ac5f4 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96d2f4', endColorstr='#6ac5f4',GradientType=0 );
		cursor: pointer;
	}
.top-nav .top-nav-set a {
	color: #fff;
	text-transform: uppercase;
	display: block;
	font-size: 16px;
}
.top-nav .sub-nav-set {
    display: none;
    width: 940px;
    /*height: 410px;*/
    z-index: 99;
    background: #6ac5f4;
		background: -moz-linear-gradient(top,  #6ac5f4 0%, #5baae3 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6ac5f4), color-stop(100%,#5baae3));
		background: -webkit-linear-gradient(top,  #6ac5f4 0%,#5baae3 100%);
		background: -o-linear-gradient(top,  #6ac5f4 0%,#5baae3 100%);
		background: -ms-linear-gradient(top,  #6ac5f4 0%,#5baae3 100%);
		background: linear-gradient(to bottom,  #6ac5f4 0%,#5baae3 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ac5f4', endColorstr='#5baae3',GradientType=0 );
	border-radius: 0px 0px 10px 10px;
	padding: 25px 5px 15px;
}
	.top-nav .sub-nav-set .component-sub-nav:not(:first-child)  {
		border-left: 1px solid #85d5ff;
	}
	.top-nav .sub-nav-set .component-sub-nav:not(:last-child) {
		border-right: 1px solid #4595c6;
	}
		.top-nav .sub-nav-set .sub-nav-row-1 {
			height: 100px;
		}
		.top-nav .sub-nav-set .sub-nav-row-2 {
			height: 125px;
		}
.top-nav li:hover .sub-nav-set,
.top-nav li:focus .sub-nav-set {
    display: block;
    position: absolute;
    left: 15px;
    top: 34px;
    cursor: auto;
    z-index: 100;
}
.top-nav li:hover .sub-nav-set li,
.top-nav li:focus .sub-nav-set li {
    float: none;
    border-radius: 0;
}
	.top-nav li:hover .sub-nav-set h5,
	.top-nav li:focus .sub-nav-set h5 {
		font-size: 16px;
		color: #fff;
		margin-bottom: 5px;
	}
		.top-nav li:hover .component-sub-nav h5:first-child,
		.top-nav li:focus .component-sub-nav h5:first-child {
			margin-top: 0px;
		}
	.top-nav li:hover .sub-nav-set a,
	.top-nav li:focus .sub-nav-set a  {
		font-size: 12px;
		text-transform: none;
		line-height: 1.2;
	}
		.top-nav .sub-nav-set a:hover,
		.top-nav .sub-nav-set a:focus {
			color: #555;
		}
/*@full-backgrounds*/
.background-full {
	background-position: 50% 50%;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	background-size: cover;
	display: block;
	width: 100%;
	position: relative;
	color: #000;
		-webkit-box-shadow: inset 0px 15px 15px -10px #bbb, inset 0px -15px 15px -10px #bbb; 
		-moz-box-shadow: inset 0px 15px 15px -10px #bbb, inset 0px -15px 15px -10px #bbb; 
	box-shadow: inset 0px 15px 15px -10px #bbb, inset 0px -15px 15px -10px #bbb;
	overflow: hidden;
}
	.background-header-grey {
		background-image: url(../images/background-header-grey.jpg);
		height: 410px;
	}
	.background-header-woman {
		background-image: url(../images/background-header-woman.jpg);
		height: 410px;
		z-index: -1
	}
		.pageCategory .background-header-woman h2,
		.pageBrand .background-header-woman h2 {
			margin-top: 150px;
		}
	.background-page-title {
		background-image: url(../images/background-page-title.jpg);
		height: auto;
	}
		.background-page-title h2 {
			margin: 17px 0;
		}
	.background-header-bicycle {
		background-image: url(../images/background-header-bicycle.jpg);
		height: 270px;
	}
		.background-header-bicycle #pageTitle {
			display: table;
			height: 270px;
		}
		.background-header-bicycle h2 {
			vertical-align: middle;
			display: table-cell;
		}
			.background-header-bicycle span {
				color: #fff;
			}
	.background-system-message {
		background-image: url(../images/background-system-message.jpg);
		height: 700px;
	}
.background-bar-shadow {
		-webkit-box-shadow: 0px 15px 15px 0px rgba(50, 50, 50, 0.75);
		-moz-box-shadow: 0px 15px 15px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 15px 15px 0px rgba(50, 50, 50, 0.75);
}
/*@titles*/
.page-title h2 {
	font-size: 60px;
	color: #656C79;
}
/*@header-carousel*/
.header-carousel {
	max-height: 410px;
	overflow: hidden;
}
.header-carousel .header-carousel-container {
	padding-top: 20px;
	height: 410px;
}
.header-carousel .owl-item img {
	width: auto;
	max-width: 100%;
	display: inline-block;
	padding-bottom: 20px;
}
	.header-carousel-text,
	.header-carousel-text button {
		text-transform: uppercase;
		z-index: 99;
	}
		.header-carousel-text h1 {
			color: #999;
			line-height: 1;
		}
			.header-carousel-text h1 span {
				font-size: 90px;
				font-family: 'latoregular';
				line-height: 0.8;
			}
		.header-carousel-text h4 {
			color: #666;
			text-transform: none;
		}
		.header-carousel-text button,
		.button-green {
			background: #adc66a;
				background: -moz-linear-gradient(top,  #adc66a 0%, #90af48 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#adc66a), color-stop(100%,#90af48));
				background: -webkit-linear-gradient(top,  #adc66a 0%,#90af48 100%);
				background: -o-linear-gradient(top,  #adc66a 0%,#90af48 100%);
				background: -ms-linear-gradient(top,  #adc66a 0%,#90af48 100%);
				background: linear-gradient(to bottom,  #adc66a 0%,#90af48 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adc66a', endColorstr='#90af48',GradientType=0 );
			color: #fff;
			margin-right: 15px;
				-webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
				-moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
			box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
		}
		.header-carousel-text h5 {
			color: #999;
			display: inline-block;
		}
			.header-carousel-text h5 span {
				color: #70C0F2;
			}
		.header-carousel-text .header-carousel-text-block {
			display: block;
		}
/*@sub-nav*/
.sub-nav ul {
	width: 100%;
}
	.sub-nav li {
		width: 12.5%;
		text-align: center;
		padding: 20px 0;
	}
		.sub-nav li:hover {
			background-image: url(../images/sub-nav-hover.jpg);
				-webkit-box-shadow: inset 30px 0px 10px -30px rgba(0, 0, 0, 0.45), inset -30px 0px 10px -30px rgba(0, 0, 0, 0.45);
    			-moz-box-shadow: inset 30px 0px 10px -30px rgba(0, 0, 0, 0.45), inset -30px 0px 10px -30px rgba(0, 0, 0, 0.45);
    		box-shadow: inset 30px 0px 10px -30px rgba(0, 0, 0, 0.45), inset -30px 0px 10px -30px rgba(0, 0, 0, 0.45);
		}
	.sub-nav a {
		color: #999;
		display: block;
	}
		.sub-nav img {
			max-width: 100%;
		}
	.sub-nav h6 {
		font-size: 12px;
	}
	.sub-nav-hr {
		margin-top: 0;
	}
.sub-nav-mobile {
	padding-top: 20px;
	padding-bottom: 20px;
}
	.sub-nav-mobile select {
		width: 100%;
	}
/*@content*/
.section-content {
	padding-top: 20px;
	padding-bottom: 20px;
}
	.section-content .sub-heading-hasline {
			width: 100%; 
			text-align: center; 
			border-bottom: 1px solid #eee; 
			line-height: 0em;
			margin-bottom: 40px;
	}
		.section-content .sub-heading-hasline .sub-heading-line {
			background: #fff; 
    		padding: 0 10px; 
		}
/*@featured-carousels*/
.carousel-testimonials {
	position: relative;
}
	.carousel-testimonials .owl-dots {
		left: auto;
		right: 15px;
		bottom: -15px;
		margin-bottom: 0px;
	}
	.carousel-testimonials h5 {
		color: #888;
	}
	.carousel-testimonials p {
		color: #555;
	}
		.carousel-testimonials h5 span,
		.sub-heading-emphasis {
			font-family: 'latoregular';
			color: #555;
		}
	.carousel-testimonials .quote {
		font-size: 16px;
		font-style: italic;
		line-height: 1.2; 
	}
	.carousel-testimonials .signed-by {
		float: right;
		font-style: italic;
		font-size: 16px;
		color: #888;
		padding-bottom: 10px;
	}
		.carousel-testimonials .signed-by span{
			font-family: 'latobold';
			font-style: normal;
		}
.carousel-hasfeatured-products{
	min-height: 265px;
}
	.carousel-hasfeatured-products .item a,
	.section-product-list .component a,
	.component-shopping-cart-details a {
		color: #555;
		text-transform: uppercase;
		font-size: 14px;
		font-family: 'latoregular';
	}
		.carousel-hasfeatured-products .item a:hover,
		.section-product-list .component a:hover,
		.component-shopping-cart-details a:hover {
			text-decoration: underline;
		}
	.carousel-hasfeatured-products .item h4,
	.section-product-list .component h4 {
		color: #6AC1F4;
		margin-top: 5px;
	}
	.carousel-hasfeatured-products .owl-nav {
	    position: static;
	}
		.carousel-hasfeatured-products .owl-prev {
			left: -50px;
		}
		.carousel-hasfeatured-products .owl-next {
			right: -50px;
		}
/*@footer*/
.section-footer {
	padding: 20px 0 30px;
}
	.section-footer h4 {
		font-size: 19px;
		font-weight: bold;
	}
	.section-footer .content {
		float: left;
	}
		.section-footer .content li {
			float: none;
			font-size: 12px;
		}
.section-manufacturers {
	background: #eeeeee;
}
	.section-manufacturers .content {
		width: 12.5%;
	}
		.section-manufacturers .content li {
			color: #777;
		}
			.section-manufacturers .content li:hover {
				color: #444;
				text-decoration: underline;
				cursor: pointer;
			}
.section-categories-and-social {
	background: #aaa;
	color: #fff;
}
	.section-categories-and-social .content a,
	.section-static-links .content a {
		color: #fff;
	}
		.section-categories-and-social .content a:hover,
		.component-social .content-social li:hover {
			color: #c4c4c4;
			text-decoration: underline;
			cursor: pointer;
		}
.section-static-links {
	background: #666;
	padding-bottom: 20px;
}
	.section-static-links .content li {
		float: left;
		color: #fff;
	}
	.section-static-links .content li:not(:first-child) {
		padding-left: 5px;
	}
		.section-static-links .content a {
			padding-right: 5px;
		}
			.section-static-links .content a:hover {
				text-decoration: underline;
			}
.component-categories .content {
	width: 50%;
}
.component-social .content-social {
	display: block;
	width: 100%;
}
	.component-social .content-social ul {
		width: 100%;
	}
		.component-social .content-social li {
			width: 50%;
			float: left;
		}
			.component-social .content-social i {
				width: 24px;
				height: 24px;
				font-size: 20px;
				margin-right: 4px;
				text-align: center;
			}
				.component-social .content-social li:hover i {
					color: #fff;
				}
.component-payment-methods .content {
	float: right;
}
	.component-payment-methods ul {
		height: 19px;
	}
		.component-payment-methods .payment-icon {
			background: url(../images/payment-sprite.png);
			background-repeat: no-repeat;
			width: 30px;
			height: 19px;
			margin-left: 5px;
			border-radius: 4px;
		}
			.component-payment-methods .payment-icon-mastercard {
				background-position: 0px 0px;
			}
			.component-payment-methods .payment-icon-visa {
				background-position: -35px 0px;
			}
			.component-payment-methods .payment-icon-visa-electron {
				background-position: -70px 0px;
			}
			.component-payment-methods .payment-icon-maestro {
				background-position: -105px 0px;
			}
			.component-payment-methods .payment-icon-paypal {
				background-position: -140px 0px;
				width: 72px;
			}
.section-powered-by {
	padding-bottom: 20px;
}
	.section-powered-by .copyright {
		height: 39px;
		width: 100%;
		display: table;
	}
		.section-powered-by .copyright p {
			font-size: 11px;
			color: #aaa;
			display: table-cell;
	    	vertical-align: middle;
	    	margin: 0;
		}
/*
*$details
*/
/*@search-result*/
.section-refine-search h3 {
	color: #535353;
	text-transform: none;
}
.section-refine-search h4 {
	font-size: 14px;
	color: #878787;
	margin-bottom: 5px;
}
.section-refine-search ul {
	width: 100%;
}
.section-refine-search li {
	float: none;
}
.section-refine-search a {
	font-size: 14px;
	color: #545454;
	font-family: 'latoregular';
}
.section-refine-search .fa {
	margin-right: 5px;
	color: #949494;
}
.section-refine-search .component {
	padding: 15px 0;
	clear: both;
	border-bottom: 1px solid #eee;
	overflow: hidden;
}
.section-refine-search .component input[type="checkbox"]{
	margin-right: 5px;
}

.component-sort-section label,
.paginationBlock label {
	font-size: 12px;
	color: #555;
	font-family: 'latoregular';
	margin-right: 5px;
}
.categoryFilterSortSection {
	margin-top: 12px;
	margin-bottom: 10px;
}
.component-page-view {
	float: right;
	margin: 12px 15px 10px 0;
}
	.pBtm {
		clear: both;
	}
.pagination a {
	color: #545454;
}
	.pagination a:hover,
	.pagination .sel {
		color: #63BEF2;
	}
.pagination .prev {
	margin-right: 5px;
}
.pagination .next {
	margin-left: 5px;
}
.section-product-list {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.section-product-list .component {
	width: 33%;
	display: inline-block;
	float: left;
}
	.section-product-list .component .imgBlock {
		text-align: center;
		margin-bottom: 20px;
		min-height: 230px;
		position: relative;
	}
		.section-product-list .component .imgBlock img {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
		}
#left-accordion .panel-body {
	border: none;
	padding: 0;
}
/*@system-message*/
.page-system-message .logo {
	margin-top: 50px;
}
	.component-system-message {
		display: table;
		height: 700px;
		width: 65%;
	}
		.component-system-message .system-message {
			display: table-cell;
			vertical-align: middle;
			color: #fff;
		}
			.component-system-message h1 {
				font-size: 60px;
			}
			.component-system-message p {
				font-size: 15px;
				line-height: 1.8;
			}
/*@category-page*/
.section-category-description {
	padding-bottom: 50px;
}
	.section-category-description .component-category-description-text h3 {
		font-size: 40px;
		color: #656C7A;
	}
.component-social-share img{
	float: right;
}
	
/*@breadcrumb*/
.breadcrumbSection {
	height: 40px;
}
.component-breadcrumb {
	font-size: 11px;
	font-family: 'latoregular';
	margin-top: 5px;
	color: #666;
	text-transform: uppercase;
	overflow: hidden;
}
	.component-breadcrumb ul {
		margin-top: 8px;
	}
	.component-breadcrumb a {
		text-transform: uppercase;
	}
/*@product-details*/
.section-product-details h1 {
	font-size: 30px;
	color: #818181;
	margin: 20px 0;
}
.section-product-details .nav-set {
	float: left;
	margin-top: 15px;
}
	.section-product-details .nav-set .nav-item {
		border-radius: 10px 20px 0 0;
	}
.component-product-images {
	padding-top: 30px;
	padding-bottom: 30px;
}
	.component-product-images #slideshow {
		text-align: center;
		min-height: 275px;
	}
		.component-product-images #slideshow img {
			max-height: 275px;
			max-width: 100%;
		}
.component-product-short-description .productBlocks {
	overflow: hidden;
	position: relative;
}
.component-product-short-description .productPriceBlock {
	border: 1px solid #f0f0f0;
	border-left: none;
	display: table;
	padding: 8px 0 18px;
	min-height: 180px;
}
	.component-product-short-description .productPriceBlock  .product-actions{
		display: table-cell;
		vertical-align: middle;
	}
	.component-product-short-description h5 {
		color: #999;
	}
		.component-product-short-description .price-amount {
			color: #70C0F2;
		}
		.component-product-short-description .productOptionsBlock h5 {
			display: inline-block;
		}
		.component-product-short-description .styled-select {
			width: auto;
			display: inline-block;
			background: #fff url(../images/dropdown.png) no-repeat 96% center;
			padding: 8px 30px 8px 5px;
		}
			.component-product-short-description .styled-select select {
				-webkit-appearance: none;
				background: none;
				border: none;
			}
		.component-product-short-description .qty h5 {
			display: inline-block;
		}
		.component-product-short-description .qty .textInput,
		.qty-input,
		.styled-select {
			width: 35px;
			padding: 8px 5px;
			border: 1px solid #eee;
			text-align: center;
			border-radius: 5px;
			margin: 0 10px 5px 0;
			color: #999;
			font-size: 18px;
		}
		.component-product-short-description .qty p {
			color: #90B237;
		}
		.component-product-short-description .qty button {
			margin-right: 10px;
			white-space: normal;
		}
			.component-product-short-description .qty .icon-shopping-basket {
				width: 20px;
				height: 20px;
				vertical-align: top;
				margin-right: 8px;
			}
	.component-product-short-description .powatag-block {
		padding: 16px 0;
		display: inline;
		border: 1px solid #f0f0f0;
		border-left: none;
		vertical-align: top;
		text-align: center;
		position: absolute;
		height: 100%;
		right: 0;
	}
		.component-product-short-description .powatag-block .powaTagWrapper {
			height: auto;
			width: 94px;
			margin: auto;
		}
	.component-product-short-description .powatag-tagline {
		position: absolute;
	}
	.component-product-short-description .short-description-block {
		padding: 20px 0;
		margin-bottom: 15px;
		border-bottom: 1px solid #f0f0f0;
		line-height: 1.2;
		font-size: 15px;
	}
.component-product-full-description {
	font-size: 14px;
	padding-top: 35px;
	padding-bottom: 15px;
}
	.component-product-full-description p {
		font-size: 15px;
		margin-bottom: 20px;
		line-height: 1.2;
	}
	.component-product-full-description .tab ul {
		margin-left: 18px;
	}
	.component-product-full-description li{
		list-style: disc;
		color: #999;
		margin-bottom: 10px;
	}
		.component-product-full-description strong{
			color: #666;
		}
.image-modal .slideshowLargeTable img {
	display: block;
	max-width: 100%;
	height: auto;
}
.tab {
    display: none;
}
li.active {
    display: block;
}
	.tabs .tab-specifications ul {
		width: 40%;
		float: left;
	}
	.tabs .tab-specifications li {
		width: 100%;
		margin-bottom: 0px;
	}
/*@static-page*/
.component-side-menu ul {
	border-bottom: 1px solid #eee;
	padding-bottom: 8px;
}
	.component-side-menu li {
		float: none
	}
		.component-side-menu li:first-child {
			border-bottom: 1px solid #eee;
			padding-bottom: 8px;
			margin-bottom: 8px;
			text-transform: uppercase
		}
			.component-side-menu a {
				color: #535353;
				font-size: 14px;
			}
				.component-side-menu a:hover {
					color: #63BEF2;
				}
.component-side-menu-mobile .panel-group {
	background: #6d7582;
	color: #fff;
}
	.component-side-menu-mobile .panel {
		padding-bottom: 0;
	}
		.component-side-menu-mobile .panel-title {
			padding: 0 15px 10px;
		}
			.component-side-menu-mobile .panel-title a {
				display: block;
			}
		.component-side-menu-mobile .panel-body {
			border-top: none !important;
			padding: 10px 15px;
				-webkit-box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.2);
				-moz-box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.2);
			box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.2);
		}
			.component-side-menu-mobile .panel-body li {
				width: 100%;
			}
				.component-side-menu-mobile .panel-body a {
					color: #fff;
				}
					.component-side-menu-mobile .panel-body a:hover,
					.component-side-menu-mobile .panel-body a:focus {
						color: #ccc;
					}
.section-static-page-content h5:not(:first-child) {
	border-top: 1px solid #eee;
	padding-top: 30px;
}
.section-static-page-content p {
	margin: 20px 0;
}
.section-static-page-content a {
	display: inline-block;
	margin-bottom: 25px;
}
.section-static-page-content ul {
	padding-left: 18px;
}
	.section-static-page-content li {
		list-style-type: disc;
		font-size: 14px;
		float: none;
	}
/*@scheckout*/
.section-shopping-cart {
	padding-top: 30px;
	padding-bottom: 10px;
}
	.section-shopping-cart .component {
		margin-bottom: 20px;
	}
	.section-shopping-cart .button-green {
		float: right;
		margin: 0;
	}
	.section-shopping-cart table {
		width: 100%;
	}
		.section-shopping-cart tr {
			border-top: 1px solid #eee;
			border-bottom: 1px solid #eee;
		}
			.section-shopping-cart th,
			.cart-side-menu h5 {
				padding: 20px 0 10px;
				font-size: 16px;
				text-transform: uppercase;
				color: #535353;
			}
			.section-shopping-cart td {
				padding: 15px 0;
			}
			.section-shopping-cart th:not(:first-child),
			.section-shopping-cart td:not(:first-child) {
				text-align: center;
			}
				.section-shopping-cart .image-thumb {
					margin-right: 10px;
					float: left;
				}
.component-checkout-buttons:last-child {
	clear: both;
}
	.component-shopping-cart-details button {
		background: transparent;
	}
.component-shopping-shipping-methods {
	width: 57%;
	float: left;
}
	.component-shopping-shipping-methods h4 {
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		padding: 20px 0 13px;
		margin: 0;
	}
		.component-shopping-shipping-methods .shipping-methods-list {
			padding: 15px 0 31px;
			border-bottom: 1px solid #eee;
		}
			.component-shopping-shipping-methods .shipping-methods-list input {
				margin-right: 8px;
			}
			.component-shopping-shipping-methods .shipping-methods-list label {
				font-weight: normal;
			}
.component-shopping-totals {
	width: 43%;
	float: left;
}
.cart-side-menu .section-side-menu h5 {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.cart-side-menu .section-side-menu ul {
	width: 100%;
}
	.cart-side-menu .section-side-menu p {
		padding: 8px 0;
		clear: both;
		border-bottom: 1px solid #eee;
	}
	.cart-side-menu .section-payment-methods ul {
		padding-bottom: 15px;
		border-bottom: 1px solid #eee;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
		.cart-side-menu .section-payment-methods .fa {
			margin-left: 25px;
		}
		.cart-side-menu .section-payment-methods .payment-icon-paypal {
			margin: 5px 37px 0;
		}
.section-order-details .left {
	margin-right: 50px;
}
	.section-order-details .button-last {
		clear: both;
		margin: 20px 0;
	}
.component-order-details {
	overflow: hidden;
	border-top: 1px solid #eee;
	padding-top: 20px;
}
	.component-order-details .orderDet {
		display: inline-block;
		float: left;
	}
		.component-order-details .orderDet .first {
			margin-bottom: 30px;
		}
		.component-order-details .orderDet .last {
			font-family: 'latoregular';
		}
.component-address-details {
	width: 46.4%;
	border-bottom: 1px solid #eee;
	float: left;
}
	.component-address-details tr {
		border: none;
	}
		.component-address-details thead tr {
			border-bottom: 1px solid #eee;
			margin-bottom: 10px;
		}
		.component-address-details td {
			padding: 0px;
		}
		.component-address-details .fullName td {
			padding-top: 20px;
		}
		.component-address-details .phone td {
			padding-bottom: 20px;
		}
		.component-address-details td.last,
		.component-order-totals td.last {
			text-align: right;
		}
.component-order-totals {
	width: 46.4%;
	float: right;
}
	.component-order-totals thead tr {
		border-top: none;
	}
/*
*$breakpoints
*/
/*@tablet-and-below*/
@media (max-width: 1199px) {
	/*@index*/
	.searchSection,
	.quickCartSection {
		display: none;
	}
	.logo-search-section .logo {
		text-align: center;
		margin-top: 20px;
	}
	.mobile-nav {
		padding-left: 0;
	}
	.mobile-nav .fa {
		font-size: 26px;
		color: #6d7582;
	}
	.top-nav {
		padding-right: 0;
	}
	.top-nav .fa {
		font-size: 22px;
	}
	.top-nav .top-nav-set .nav-item {
		padding: 10px 22px 6px;
		height: 40px;
	}
		.top-nav li:hover .sub-nav-set,
		.top-nav li:focus .sub-nav-set {
			width: 150%;
			height: 50px;
			padding: 5px 0px;
			border-radius: 0;
			top: 40px;
			right: 0;
			left: auto;
		}
			.top-nav li:hover .sub-nav-set a,
			.top-nav li:focus .sub-nav-set a {
				text-transform: uppercase;
				font-size: 16px;
			}
				.top-nav li:hover .sub-nav-set li,
				.top-nav li:focus .sub-nav-set li {
					padding: 4px 0;
				}
	.mobile-nav .mobile-nav-set .nav-item {
		background: transparent;
	}
		.mobile-nav .mobile-nav-set .nav-item:hover {
			border-radius: 10px 20px 0 0;
		}
		.mobile-nav li:hover .fa {
			color: #fff;
		}
			.mobile-nav li:hover .sub-nav-set,
			.mobile-nav li:focus .sub-nav-set {
				width: 300%;
				left: 0;
				height: auto;
			}
				.mobile-nav li:hover .sub-nav-set li, 
				.mobile-nav li:focus .sub-nav-set li {
					padding-left: 22px;
					padding-right: 22px;
				}
					.mobile-nav  .sub-nav-set h5, 
					.mobile-nav li:focus .sub-nav-set h5 {
						margin-bottom: 0;
					}
					.mobile-nav .sub-nav-set a:hover,
					.mobile-nav .sub-nav-set a:focus {
						color: #fff;
					}
					.mobile-nav li:hover .sub-nav-set .panel-body a {
						text-transform: none;
					}
						.mobile-nav li:hover .sub-nav-set .panel-body a:hover,
						.mobile-nav li:hover .sub-nav-set .panel-body a:focus {
							color: #555;
						}
	.panel-heading .accordion-toggle:after {
	    content: "-";
	    float: right;
	    color: #fff;
	}
	.panel-heading .accordion-toggle.collapsed:after {
	    content: "+";
	}
	.searchSection .search-section .textInput,
	.searchSection .search-section button {
		height: 30px;
		border: none;
	}
	.searchSection .search-section .textInput {
		width: 85%;
	}
	.searchSection .search-section button {
		padding: 5px 8px;
		width: 15%;
		text-align: right;
	}
	.quickCartSection .row {
		margin: 0;
	}
	.quickCartSection .quick-cart-header {
		padding: 0;
	}
		.quickCartSection .quick-cart-header ul {
			width: 100%;
			background: transparent;
			padding: 5px;
		}	
			.quickCartSection .quick-cart-header li {
				display: inline-block;
			}
	.carousel-hasfeatured-products .component img {
		display: block;
		margin: 0 auto;
	}
	/*@listing*/
	.component-sort-section {
		float: none;
	}
	.categoryFilterSortSection {
		clear: both;
	}
	.section-refine-search .component-head {
		border-bottom: none;
	}
		.section-refine-search .component-facet-class:nth-child(n+3) {
			display: none;
		}
	#left-accordion {
		background: #6d7582;
		color: #fff;
	}
		#left-accordion .section-refine-search .component {
			padding: 0px;
			border-bottom: none;
		}
		#left-accordion .panel {
			border-bottom: 1px solid #5F6675;
			padding: 10px 0 0;
		}
			#left-accordion .panel-heading {
				padding: 0;
			}
			#left-accordion .panel-title {
				padding: 0 15px 10px;
				margin-bottom: 0px;
				text-transform: uppercase;
			}
				#left-accordion .panel-title a {
					display: block;
					color: #fff;
				}
			#left-accordion .panel-body {
				border-top: none;
				padding: 10px 15px;
					-webkit-box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.2);
					-moz-box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.2);
				box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.2);
			}
				#left-accordion .panel-body li {
					width: 100%;
				}
					#left-accordion .panel-body a,
					#left-accordion .panel h4 {
						color: #fff;
						padding-top: 0;
						border: none;
					}
						#left-accordion .panel-body a:hover,
						#left-accordion .panel-body a:focus {
							color: #ccc;
						}
	/*product-details*/
	.section-product-details .top-nav .top-nav-set .nav-item {
		height: auto;
	}
	.pageProductDetails #headerContainer {
			-webkit-box-shadow: 0px 5px 15px #bbb;
			-moz-box-shadow: 0px 5px 15px #bbb;
		box-shadow: 0px 5px 15px #bbb;
	}
}
@media (max-width: 991px) {
	/*@index*/
	.pageHome .background-full {
		height: 300px;
	}
	.header-carousel .header-carousel-container {
		height: 300px;
	}
		.header-carousel-text h1 {
			font-size: 26px;
		}
			.header-carousel-text h1 span {
				font-size: 70px;
			}
}

/*@mobile*/
@media (max-width: 767px) {
	/*@index*/
	.pageHome .background-full,
	.header-carousel .header-carousel-container {
		height: auto;
		min-height: 290px;
	}
		.pageHome .background-header-woman {
			background-position: 65% 50%;
		}
	.header-carousel {
		max-height: 620px;
		overflow: hidden;
	}
		.header-carousel .container .header-carousel-image {
			text-align: center;
		}
			.header-carousel-text {
				border-bottom: 1px solid #eee;
				text-align: center;
			}
			.header-carousel .owl-dots {
				bottom: auto;
			}	
	.carousel-testimonials .component-why-buy {
		border-bottom: 1px solid #eee;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
   	.carousel-hasfeatured-products .owl-prev {
		left: -35px;
	}
	.carousel-hasfeatured-products .owl-next {
		right: -35px;
	}
	.section-footer {
		padding: 20px 0;
	}
		.section-footer h4 {
			width: 100%;
			text-align: center;
		}
			.section-footer .content {
				float: none;
			}
	.component-social .content-social {
		width: 100%;
	}
		.component-social .content-social li {
			width: 25%;
			text-align: center;
		}
	.component-payment-methods .content {
		float: none;
		text-align: center;
	}
		.component-payment-methods .content ul {
			float: none;
		}
			.component-payment-methods .content li {
				display: inline-block;
				float: none;
			}
	.section-static-links-mobile {
		background: #fff;
		border-bottom: 1px solid #eee;
	}
		.section-static-links-mobile .content ul {
			text-align: center;
		}
			.section-static-links-mobile .content li {
				float: none;
				display: inline;
				color: #666;
			}
				.section-static-links-mobile .content a {
					display: inline-block;
					color: #666;
				}
	.section-powered-by .content > div {
		text-align: center;
	}
	.page-title h2 {
		margin: 30px 0;
		font-size: 35px;
	}
	/*@listing-pages*/
	.section-product-list .component {
		width: 50%;
	}
		.section-product-list .component img {
			max-width: 100%;
		}
			.section-product-list .component  .descBlock {
				margin: 0 20%;
			}
	.productDetailsSection .nav .nav-item {
		padding: 6px 14px;
	}
	.component-social-share {
		margin-top: 10px;
	}
	.section-product-details h1 {
		margin-top: 0;
	}
	/*@checkout*/
	.section-shopping-cart .image-thumb {
		display: block;
		float: none;
	}
		.section-shopping-cart .component-checkout-buttons {
			margin-bottom: 20px;
		}
			.section-shopping-cart .component-checkout-buttons .button {
				width: 100%;
				display: block;
				text-align: center;
				float: none;
				margin: 0 0 10px;
			}
		.component-shopping-cart-details button {
			padding: 0;
			color: #8C0000;
			text-transform: uppercase;
		}
		.section-shopping-cart .component-shopping-shipping-methods,
		.section-shopping-cart .component-shopping-totals {
			width: 100%;
			float: none;
		}
	.section-order-details .component {
		width: 100%;
	}
	.section-order-details .button {
		width: 100%;
		display: block;
	}
		.component-order-details .button {
			margin: 15px 0 5px;
		}
	.pageOrderConfirmation .background-page-title {
		height: 130px;
	}

}
@media (max-width: 479px) {
	.section-product-list .component {
		width: 100%;
		margin: 0 auto;
		display: block;
	}
}