/* Generic Global Collect Hosted Merchant Link CSS */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #999;
    font-size:12px;
    margin-top:0;
}

.mainContainer {
    margin:0 auto;
    width:1000px;
}

.centerContainerWrapper {
    padding: 40px 30px;
    overflow: hidden;
}

.gcPageHeader {
    height: 190px;
}

.gcPageFooter {
    height:60px;
}

.gcPageFooter .disclaimerSection {
    float: right;
}

.gcPageFooter .pciLogoContainer {
    width:149px;
    height:39px;
    float:left;
    margin-top:10px;
}