/* 
  Copyright (c) 2007-2010 Powa Technologies Limited 
  All Rights Reserved. 
*/

/***********************************************/
/*  print style                                */
/***********************************************/
.base { page-break-before: avoid;  page-break-inside: avoid; }
.productListThbBlock, .imgBlock { page-break-inside: avoid;  }
#wrapperInner {width: auto !important;}

/*    global color reset   */
* { color: #000 !important; text-decoration: none !important; }
.price, .priceNow { color: #000 !important; font-weight: bold !important; }
.priceWas, .priceWas span { color: #999 !important; text-decoration: line-through !important; }

/* global border reset */
* { border: none !important; }
label{ font-weight: normal !important; }
.base, .base td, table th, .totalBlock td, input, select, textarea, .base .textInput { border: 1px solid #000 !important; }
.productListTblSection td.last { border: none !important; }

/*    layout   */
HTML { height: auto; }
#middleContainer .centerContainer { width: 100% !important; padding: 0 1pt !important; margin: 0 !important; }
#middleContainer .centerContainer { border-bottom: 1px solid #000; }
#headerContainer, #footerContainer, #middleContainer .leftContainer, #middleContainer .rightContainer, .searchSection, .breadcrumbSection, .paginationBlock, .categoryFilterSortSection, .bigBtn, .newCustomerBtn, .middleBtn, .middle2Btn, .smallBtn, a.linkLargeImage, a.linkZoomImage, .checkoutBtn, .sep, .form img, a.link , .productListTblSection th.last, .productListTblSection td.last, th.del, td.del, .productListThbSection .textInput, .featuredProductListThbSection .textInput, .creditCardDetailsSection th.last { display: none !important; }
#middleContainer .centerContainer .content-wrapper { overflow: visible; }

/*   global font   */
* { line-height: 1.2; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 10pt; }
ul, li { list-style: disc !important;  list-style-position: inside !important; }
h1, h2, h3, h4 { text-align: left !important; padding: 0 !important; }
h1 { font-size: 12pt; }    
h2 { font-size: 11pt;}
h3 { font-size: 10pt; } 
h4 { font-size: 9pt; }

/* page section */
.cont { text-align: left !important; }
.brandThbListSection .block .cont, .categoryThbListSection .block .cont, h4.last, .brandThbListSection .last, .categoryThbListSection .last { text-align: left !important; float: left !important; }
.brandThbListSection h4, .categoryThbListSection h4 { clear: both !important; }
.productListThbSection .block, .featuredProductListThbSection .block { float: none !important; width: 100%; border-bottom: 1px solid #000 !important; }
.productListThbSection .imgBlock, .featuredProductListThbSection .imgBlock { float: left !important; }
.featuredProductListThbSection { text-align: left !important; }
.productListThbSection .priceBlock, .featuredProductListThbSection .priceBlock{ margin-left: 10px; clear: both; }
.priceBlock { font-size: 8pt !important;  }
*html .productDetailsSection .descBlock{  height: auto !important; } /* for IE6 */
.productOptionsBlock, .productPriceBlock { border: 1px solid #fff !important; }
.productDetailsSection form { clear: both; border-top: 1px solid #000 !important; }
.productTabBlock li { display: none; }
.productTabBlock li.sel { display: inline; float: left; list-style: none !important; }
.credit-note td, .credit-note a { color: #000 !important; font-weight: bold; }
.creditCardDetailsSection table .textInput { width: 195px; }
*html .form .cont { width: 100% !important; padding:0 !important; } /* for IE6 */
.form .cont { width: 800px; }
.form form { width: auto !important; background: none !important; }
.form label { width: 250px; text-align: left !important; }
.form .checkboxBlock  { float: none; }



